{% extends 'csv_loader/base_csv_loader.html' %}
{% load static %}

{% block content %}
   <div class="row">
       <div class="col-md-4">
       </div>

       <div class="col-md-4">
           <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}

<!--                {{ form.as_p }}-->

                <label class="btn-lg btn-primary m-1">
                    Загрузить<input type="file"  name="file" style="display: none;">
                </label>
                

                <br>
                <button type="submit" class="btn-lg btn-primary my-1">Сохранить</button>
                <h4>Файл {{ filename }} сохранен </h4>
           </form>
       </div>
       
       <div class="col-md-4">
           <img src="" alt="">
       </div>
   </div>

{% endblock %}

<script>
    $(document).ready(function() {

    $('input[type="file"]').change(function(){
        var value = $("input[type='file']").val();
        $('.js-value').text(value);
    });

});

</script>

